
#hero {
    width: 100%;
    background-size: cover;
    /* position: relative; */
    
  
  }
  
  .wealth-management {
    background: #F9F9F9;
    overflow: hidden;
    /* background:rgba(184, 38, 38, 0.701) */
  }
  
  
  
  .wealth-management .hero {
    background: #F9F9F9;
    /* background:rgba(184, 38, 38, 0.701)  */
  }
  
  .wealth-management .overlap {
    position: relative;
    padding-top: 20px;
  }
  
  .wealth-management .text-wrapper {
    font-family: "Tenor Sans-Regular", Helvetica;
    font-weight: 400;
    color: #5c5c5c;
    font-size: 25px;
    text-align: center;
    width: 90%;
  
  }
  
  
  .wealth-management .text-wrapper-2 {
    font-family: "Tenor Sans";
    font-weight: 400;
    color: #22366c;
    font-size: 3rem;
    
    letter-spacing: 0;
  
  
  }
  
  .wealth-management .overlap .l-mandala img {

    width: 5vw;
    /* position: absolute;
    bottom: 0; */
    left: 0;
    height: 100%;
    opacity: 0.5;
    margin-left: -10%;

}

.wealth-management .overlap .r-mandala img {
    /* position: absolute;
    top: 0; */
    right: 0;
    width: 5vw;
    height: 100%;
    opacity: 0.5;
    margin-left: 10%;

}
@media (max-width:376px) {
  .overlap .overlap-group svg{
    height: 45px;
    width: 40px;
  }
  .wealth-management .text-wrapper-2{
    font-size: 2rem;
  }
}
  .blog-details{
    background-color: rgba(246, 246, 247, 1);
    padding-top: 20px;
  }
  .blog-details .text
  {
color: #858585;
padding-top: 30px;
padding-bottom: 10px;
font-family: Tenor Sans;
font-size: 2rem;
font-style: normal;
font-weight: 400;
line-height: normal;
 }
 .blog-details .text span{
    float: right;
 }
 .blog-details .paragraph{
    color: #505050;
text-align: justify;
font-family: Tenor Sans;
font-size: 2rem;
font-style: normal;
font-weight: 400;
line-height: 3rem;

 }
 .blog-details .paragraph p{
    margin-bottom: 15px;
 }
.blog-images .img
{

}
.blog-images .descri h4{
    color: #1D1D1D;
font-family: "Tenor Sans";
text-align: justify;
font-size: 3.5rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.blog-images .descri h6{
    /* padding: 10px 0px 0px 0px; */
    font-size: 2.5rem;
    text-align: justify;
}
.blog-images {
  display: flex;
}

.img,
.descri {
  flex: 1;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio and cover the container */
}
.blog-images .descri p{
  font-size: 2rem;
  color: #505050;

text-align: justify;
font-family: "Tenor Sans";
font-style: normal;
font-weight: 400;
line-height: 3rem;

}
.blog-details .paragraph-1 h3{
color: #22366C;
font-family: Tenor Sans;
font-size: 3rem;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-bottom: 1rem;
}
.blog-details .paragraph-1{
    color: #505050;
text-align: justify;
font-family: "Tenor Sans";
font-style: normal;
font-weight: 400;
line-height: 3rem;


 }
 .blog-details .paragraph-1 p{
    margin-bottom: 15px;
    font-size: 2rem;
    color: #505050;

text-align: justify;
 }
 @media screen and (max-width: 768px) {
  .blog-details .paragraph p{
    font-size: 1.5rem;
  }
  .blog-images .descri h4{
    font-size: 2rem;
  }
  .blog-images .descri h6{
    font-size: 2rem;
  }
  .blog-images .descri p{
    font-size: 1.5rem;
  }
  .blog-details .paragraph-1 h3{
    font-size: 2rem;
  }
  .blog-details .paragraph-1 p{
    font-size: 1.5rem;
  }
  .blog-details{
    padding: 4% 4%;
  }
  .blog-details .text{
    padding-top: 3%;
  }
  .blog-details .blog-images img{
    width: 100%;
  }
  .blog-details .arrow svg{
  width: 8%;
  padding-left: 2%;
  }
  .blog-details .text p{
    font-size: 1.5rem;
  }
  
  .blog-details-inner{
    margin: 0 !important;
    padding: 14% 5% !important;
  }
  .blog-images {
    flex-direction: column; /* Stack columns on small screens */
  }
  .wealth-management .overlap .l-mandala img {

    height: 7em;
    width: 35%;
    position: absolute;
    bottom: -16%;
    left: 0;
    opacity: 0.5;
    transform: rotate(270deg);
}

.wealth-management .overlap .r-mandala img {
    position: absolute;
    top: 0;
    right: 0;
    height: 7em;
    width: 5em;
    opacity: 0.5;
    transform: rotate(270deg);

}
.overlap-group svg{
    height: 2rem;
    width: 4rem;
}
.wealth-management.blog-details-parent .overlap-group .text-wrapper-2{
    font-size: 2rem;
}
.wealth-management .text-wrapper{
    font-size: 1rem;
}
.overlap-group{
    margin-top: 0;
}
}
@media (min-width:769px) and (max-width:992px){
  .overlap-group svg{
    height: 3rem;
    width: 5rem;
}
.wealth-management .overlap .l-mandala img {
  width: 9vw;
  
}
.wealth-management .overlap .r-mandala img {
  width: 9vw;
}
}